# Ignorar arquivos de ambiente
*.env

# Ignorar arquivos CSS
*.css

# Ignorar arquivos JavaScript
*.js

# Ignorar diretórios de build e dependências
node_modules/
dist/
build/

# Ignorar logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar arquivos de sistema
.DS_Store
Thumbs.db

# Ignorar arquivos de configuração do Node.js
*.config.js
*.config.json
